/* VARIBALES */
:root {
    --action: rgb(187, 116, 107);
    --action-background-color: rgb(206, 120, 112);
    --primary: rgb(131, 157, 154);
    --secondary: rgb(196, 199, 206);
    --dark-black: rgb(18, 18, 18);
    --light-black: rgb(74, 74, 74);
    --light-gray: rgb(228, 228, 228);
    --shadow: rgba(0, 0, 0, 0.2);
    --muted-blue: rgb(131, 157, 154);
    --light-muted-seafoam: rgb(213, 217, 213);
    --muted-teal: rgb(131, 157, 154);
    --emerald-green: rgb(78, 117, 110);
    --navy: rgb(83, 91, 133);
    --mint: rgb(222, 230, 221);
}

/* BUTTON UPDATED STYLES */

.btn {
    /* border: 1px solid var(--primary) !important; */
    border: 1px solid var(--primary);
    background: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    min-width: 6rem;
    overflow: hidden;
    padding: 0.8rem 2rem;
    position: relative;
    transition: transform 0.6s, color 0.2s;
    vertical-align: middle;
}

.btn::before {
    content: '';
    /* background: var(--secondary); */
    background: var(--light-black);
    border-radius: 0.25rem;
    display: inline-block;
    height: calc(100% + 2px);
    left: -1px;
    position: absolute;
    top: -1px;
    transform: translateY(100%);
    transition: transform 0.6s, color 0.2s, border 1s;
    width: calc(100% + 2px);
}

.btn .btn--primary {
    /* background: var(--primary) !important; */
    /* background: var(--primary) !important; */
    background: var(--primary);
}

.btn .btn__text {
    color: var(--light-gray);
    font-size: 1rem;
    position: relative;
    transition: color 0.2s;
}

.btn.btn--primary .btn__text {
    color: var(--light-gray);
    transition: color 0.2s;
}

.btn:hover {
    border: 1px solid var(--secondary);
    text-decoration: none;
    transition: color 0.2s, transform 0.6s, border 1s;
}

.btn:hover .btn__text {
    color: var(--light-gray) !important;
    /* color: var(--primary) !important; */
    transition: color 0.2s, transform 0.6s, border 1s;
}

.btn:hover::before {
    transform: translateX(0);
    transition: color 0.2s, transform 0.6s;
}

/* COLORS 
__________________________*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--light-black);
}

p {
    color: var(--light-black);
}

section {
    background: white;
}

.bg--primary {
    background: var(--primary);
}

.bg--secondary {
    background: var(--secondary);
}

.bg--dark * {
    color: var(--offwhite);
}

.bg--light * {
    color: var(--light-black);
}
/* FORMATTING
__________________________*/

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', 'Poppins', 'Helvetica Neue', Helvetica,
        sans-serif;
}

h1,
.h1 {
    font-size: 3.1428571429rem;
    line-height: 1.1;
}

h1.big,
.h1.big {
    font-size: 3.4285714286rem;
    line-height: 1.2;
}

h2,
.h2 {
    font-size: 2.5714285714rem;
    line-height: 1.1;
}

h2.big,
.h2.big {
    font-size: 3.2142857143rem;
    line-height: 1.2;
}

h3,
.h3 {
    font-size: 2rem;
    line-height: 1.1;
}

h3.big,
.h3.big {
    font-size: 2.5rem;
    line-height: 1.2;
}

h4,
.h4 {
    font-size: 1.4285714286rem;
    line-height: 1.1;
}

h4.big,
.h4.big {
    font-size: 2rem;
    line-height: 1.2;
}

p {
    font-family: 'Times New Roman', Georgia, Times, serif;
    font-size: 1.1428571429rem;
    line-height: 1.6;
}

p.big-paragraph {
    font-size: 1.7142857143rem;
    line-height: 1.8;
}

.extra-light {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 900;
}

.fas,
.far,
.fab {
    color: var(--light-gray);
    margin-bottom: 1rem;
}

.grid {
    display: grid;
}

.pos--relative {
    height: 100%;
    position: relative;
}

.round-corners {
    border-radius: 0.25rem;
}

.sticky-image {
    bottom: 2rem;
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
}

.text__container--bright {
    background: var(--light-gray);
}

.text__container--dark {
    background: var(--dark-black);
}

/*  NAVIGATION SECTION
__________________________*/
.dropdown:hover > .dropdown__trigger + .dropdown__container,
.dropdown > .dropdown__trigger + .dropdown__container:hover {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.bar {
    padding: 0;
}

.bar .logo {
    max-height: 4em;
    top: 0;
}

.bar .col-md-2 .bar__module {
    padding: 1em 0;
}

.bar .col-md-10 .bar__module .menu-horizontal {
    padding: 1.85714286em 0;
}

/* HEADER SECTION
__________________________*/

#home-hero .background-image-holder {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('https://placehold.it/1920x1080');
    background-origin: padding-box;
    background-position: initial;
    background-repeat: repeat;
    background-size: auto;
    opacity: 1;
}

.background-image-holder::before {
    background: var(--shadow);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cover-features.space--lg {
    max-height: 720px;
    padding-bottom: 0;
}

.cover-features .row:nth-child(2) {
    margin-top: 0;
}

[data-scrim-bottom]:before {
    background: none;
}

img.logo {
    box-shadow: none;
}

/* FOOTER
__________________________*/

footer.footer-2.bg--dark {
    background: var(--secondary);
}

footer.footer-2.bg--dark:not(.nav-bar):not(.bar) h6,
footer.footer-2.bg--dark:not(.nav-bar):not(.bar) a:not(.btn) {
    color: var(--light-gray);
}

#footer__bottom {
    background: var(--light-black);
    padding-bottom: 0;
    padding-top: 0;
}

#footer__bottom .col-md-3 {
    padding-bottom: 7rem;
    padding-top: 7rem;
}

#footer__bottom .nav-item .nav-link {
    color: var(--light-gray);
}

#footer__bottom .social-nav .nav-item {
    display: inline-block;
}

#footer__bottom .social-nav .nav-item .nav-link {
    padding: 0 1em 0.5em 0;
}

/* ADDITIONAL CSS BELOW */
body{
    /* margin: 1%; */
    font-family: 'Merriweather', serif;
}
.cta__button{
    background-color: var(--action) !important;
    border: 1px solid var(--action) !important;
}

.cta__button::before {
    content: '';
    background: var(--action-background-color) !important;
    border-radius: 0.25rem;
    display: inline-block;
    height: calc(100% + 2px);
    left: -1px;
    position: absolute;
    top: -1px;
    transform: translateY(100%);
    transition: transform 0.6s, color 0.2s, border 1s;
    width: calc(100% + 2px);
}

/* NAV */
.nav__section{
    padding: 1% 2%;
    /* background: var(--mint); */
}
.nav__links{
    padding-top: 2%;
    /* display: inline; */
    /* justify-content: space-around; */
}
.menu-horizontals{
    list-style: none;
    display: flex;
    justify-content: space-around;

    
}
.nav__button{
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
}
.nav__li{
    display: flex;
    justify-content: center;
}

/* END NAV */

/* HERO */
.hero__header{
    font-family: 'Montserrat', sans-serif;
}
.hero__section{
    margin-top: 5%;
    display: grid;
}
.hero__content{
    padding-left: 5%;
}
/* END HERO */

/* ENGAGEMENT */
.engagement__section{
    margin-top: 5%;
    padding: 5%;
    background: var(--light-gray);
}
.engagement__header{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
.engagement__icon{
    color: var(--light-black);
}
.card__top{
    padding-top: 8%;
    padding-bottom: 5%;
    /* background-color: white; */
    background-color: var(--light-muted-seafoam);
    /* border-radius: 5px 5px 0px 0px; */
}
.card__body{
    /* background-color: white;  */
    background-color: var(--light-muted-seafoam);
    padding-left: 5%;
    padding-right: 5%;
    /* border-radius: 5px; */
}
.card__action{
    /* background-color: white;  */
    background-color: var(--light-muted-seafoam);
    /* border-radius: 5px; */
}
/* END ENGAGEMENT */

/* TOP SELLERS */
.top_sellers__section{
    margin-bottom: 5%;
}
.top_sellers__header{
    margin-top: 5%;
    margin-bottom: 5%;
}

.top_sellers__sub_header{
    font-size: 2.5rem;
    color: var(--navy) !important;
}

.top_sellers__top_img{
    margin-bottom: 5%;
}

.top_sellers__paragraph{
    align-content: flex-end;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.top_sellers__right{
    display: flex;
    flex-direction: column;
    
}

/* END TOP SELLERS */

/* CTA FORM */
.cta__form__section{
    background: var(--light-gray);
    padding: 5%;
}
.cta__form{
    display: flex;
    flex-direction: column;
}
.cta__form__input{
    margin-bottom: 3%;
}
.cta__form__header{
    margin-bottom: 3%;
}
.cta__form__paragraph{
    text-align: center;
}
.cta__form__input{
    border-radius: 5px;
    /* height: 100%; */
}
/* END CTA FORM */

/* UVP */
.uvp__section{
    margin-top: 5%;
    margin-bottom: 8%;
}
.uvp__row{
    margin-bottom: 5%;
}
.uvp__header{
    margin-bottom: 5%;
}
.uvp__icons{
    display: flex !important;
    justify-content: center;
    color: var(--navy) !important;
}

.uvp__subheader{
    display: flex;
    justify-content: center;
}
.uvp__text{
    text-align: center;
}

/* END UVP */
/* PROCESS */
.process__section{
    background: var(--light-gray);
    padding: 3%;
}
.process__header{
    padding-bottom: 3%;
    text-align: center;
}
.process__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.process__img__bottom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}
.process__sub_header{
    text-align: center;
}
.process__text{
    text-align: center;
}
.process__button{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
/* END PROCESS */

/* USP */
.usp__section{
    margin-top: 3%;
    margin-bottom: 5%;
}
.usp__header{
    margin-bottom: 3%;
}
/* END USP */

/* SERVE */
.serve__section{
    margin: 0 auto;
    background: var(--light-gray);
    padding: 3%;
}
.serve__header{
    padding-bottom: 3%;
}
.serve__image__container{
    position: relative;
    background: var(--light-gray);
}

.serve__image__container img{
    width: 100%;
    height: auto;
}
.serve__button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* END SERVE */

/* CASE STUDY */
.case_study__section{
    margin-top: 5%;
    margin-bottom: 5%;
}
.tab-pane{
    padding-top: 5%;
}
.case_study__header{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}
.case_study__image{
    display: flex;
    align-content: center;
}
.case_study__tabs{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.case_study__icons{
    /* list-style: none; */
    color: var(--navy) !important;

}
/* END CASE STUDY */

/* TESTIMONALS */
.testimonals__section{
    background: var(--light-gray);
    padding: 3%;
}
.testimonal__images__container{
    border-radius: 50%;
}
.testimonal__images{
    padding: 10%;
}
.testimonal__text{
    padding-right: 10%;
}
.slider {
    width: 100%;
    overflow: hidden;
    padding: 3%;
  }
  
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  
  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }
  
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
/* END TESTIMONALS */