#underline::after {
  display: inline-block;
  width: 120px;
  border-bottom: 2px solid #ffffff;
  box-shadow: -15px 5px 0 0 #ffffff;
  content: "";
}

.persona_img {
  width: 100%;
  max-width: 188px;
  max-height: auto;
  border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  font-family: Lora, serif;
}

body {
  font-family: Lora, serif;
}

body {
  color: silver;
}

p {
}

